img {
    border-radius: 50%
}
.list {
    color:blue
}
.tables {
    width: 100%;
    border: 1px solid black;

}
.names{
    color:aqua;
}

.contact{
    color:blue;
}

.country{
    color:blueviolet;
}