* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  /* 1em = 10px */
  font-family: "Courier New", Courier, monospace;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  height: inherit;
  width: inherit;
  background-color: rgb(80, 116, 137);
}
/* So...This you see here is your typical */
/* Beginner way of styling... It works */
/* And its what we call: Unresponsive */
/* As in: It only looks good on web full screen */

/* .header {
  background-color: #bab8b8d2;
  height: 60vh;
  position: relative;
}
.about {
  height: 80%;
  background-color: #f7f7f7;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.selfIntro {
  text-align: center;
  font-size: 4.3em;
  margin-top: 10vh;
}
.slogan {
  margin-top: 5%;
  text-align: center;
  font-size: medium;
  margin-bottom: 5%;
}
.contact {
  text-align: center;
  font-size: large;
  margin-left: 47vw;
  background-color: aliceblue;
  text-decoration: none;
}
.profile-image {
  border-radius: 50%;
  width: 15rem;
  margin-top: -7.5em;
  margin-left: 45vw;
} 

/* A better way to style this, would be as follow: */
main {
  text-align: center;
}

.header {
  background-color: #bab8b8d2;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 15rem;
}

.about {
  height: 80%;
  background-color: #f7f7f7;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
}

.selfIntro {
  text-align: center;
  font-size: 4.3em;
}
.slogan {
  text-align: center;
  font-size: medium;
}
.contact {
  text-align: center;
  font-size: large;
  text-decoration: none;
  border: solid 2px rgb(139, 68, 68);
  padding: 0.5em;
  border-radius: 30px;
  width: 10em;
}
.span {
  color: rgb(139, 68, 68);
}
.profile-image {
  border-radius: 50%;
  width: 15rem;
  position: absolute;
  top: -17.5%;
}
/* this is the heading  */
.experience-heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}
p {
  font-size: 20px;
  margin-bottom: 20px;
}
.experience-items{
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}
li {
  list-style-type: none;
}
/* This is the work Section */
.web-design-btn {
  background-color: rgb(187, 187, 221);
  border-radius: 50px;
  border-color: rgb(148, 100, 12);
  padding: 0.8em 2.1em;
}